.button {
    padding: .5rem .75rem;
}

.button-primary {
    outline: none;
    background-color: $primary;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 200ms ease;
    border-radius: 6px;
}

.button-primary:hover {
    background-color: $accent;
}

.button-secondary {
    border: 2px solid $accent;
    outline: none;
    background-color: transparent;
    color: #FFF;
    font-size: 1rem;
    cursor: pointer;
    transition: 200ms ease;
    border-radius: 6px;
}


.button-secondary:hover {
    background-color: $accent;
    color: $primary;
}