* {
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

$background: #FFFFFF80;
$primary-text: #000;
$secondary-text: #00000080;
$primary: #1A4E4A;
$accent: #67FAD7;

$ff: 'Poppins', 'sans-serif';


html {
    scroll-behavior: smooth;
    font-size: 16px;
}

img {
    max-width: 100%;
}

button, input, textarea {
    outline: none;
    border: none;
    font-family: $ff;
}

a {
    text-decoration: none;
    color: darkcyan;
}

body {
    background-color: $background;
    font-family: $ff;
    color: $primary-text;
}

.article {
    min-height: calc(100vh - 70px);

    .section-title {
        text-align: center;
        padding: 1rem;
        font-weight: 500;
    }
}

.fade {
    animation: fade 1s ease-in-out forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}