.product-page-wrapper {
  height: 100%;
    
}

.product-page-container {
    max-width: 1600px;
    display: grid;
    gap: 5rem;
    
    margin: 0 auto;
    border: 1px solid;
    height: 100%;

    .product-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        .product-image-wrapper {
            border: 1px solid red;
            width: 100%;
            height: 100%;
        
            .product-image {
                object-fit: cover;
            }

        }

    }

    .product-details {

    }

}